* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Mulish";
}

/* Navigation */

.nav-container {
    background: #7E49A7;
    height: 100px;
}

.wrapper {
    width: 1200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 149px;
}

nav ul {
    display: flex;
}

nav .logo {
    margin-left: 30px;
    position: absolute;
    left: 0%;
    right: 66.29%;
    top: 0%;
    bottom: 1.34%;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #CB33A0;
    text-shadow:
    -1px -1px 0 #F5F5F5,
     0   -1px 0 #F5F5F5,
     1px -1px 0 #F5F5F5,
     1px  0   0 #F5F5F5,
     1px  1px 0 #F5F5F5,
     0    1px 0 #F5F5F5,
    -1px  1px 0 #F5F5F5,
    -1px  0   0 #F5F5F5;
}

nav .slogan {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F5F5F5;
    text-shadow:
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5,
    0 0 0 #F5F5F5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-items li {
    list-style: none;
    margin-right: 30px;
    float: right;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
    position: absolute;
    left: 86%;
    right: 0.87%;
}

.nav-items li a {
    display: block;
    color: #F5F5F5;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

/* Header */

.header-container {
    background: rgba(221, 193, 225, 0.56);
    background-size: contain;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

header {
    align-items: center;
}

header h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

header h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

header a {
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
    background: #CB33A0;
    border: 3px solid #000000;
    border-radius: 25px;
    padding: 12px 48px;
}