* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish" !important;
    background-color: #DDC1E18F !important;
}

/* Modal */
h5.modal-title {
    font-family: Mulish;
}
.modal-dialog {
    background-color: #DDC1E18F;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #DDC1E18F;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 80%;
}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover
.close:focus {
    color: blakc;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer button {
    background-color: #7e49a7;
}

/* Navigation Bar */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-purple {
    background-color: #7e49a7;
    padding: 0 !important;
    height: 70px;
}
.navbar-brand img {
    height: 45px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #f5f5f5 !important;
    font-family: Mulish;
    font-weight: 700;
    float: right;
    text-align: left;
}
.navbar-toggler-icon {
    color: #f5f5f5;
    font-size: 30px !important;
}
.navbar-toggler {
    outline: none !important;
}

/* Formatting Search Bar */
.select-book select {
    background: #f5f5f5;
    width: 30%;
    height: 38px;
    border: 1px solid #000000;
}
#get-recs-btn {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 15%;
    height: 30%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #CB33A0;
    color: #f5f5f5;
}

/* Formatting Results */
.results-header h5 {
    margin-top: 15px;
}
.results-body p {
    margin-top: 15px;
}