* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish" !important;
    background-color: #DDC1E18F !important;
}

/* Modal */
h5.modal-title {
    font-family: Mulish;
}
.modal-dialog {
    background-color: #DDC1E18F;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #DDC1E18F;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 80%;
}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover
.close:focus {
    color: blakc;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer button {
    background-color: #7e49a7;
}

/* Navigation Bar */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-purple {
    background-color: #7e49a7;
    padding: 0 !important;
    height: 70px;
}
.navbar-brand img {
    height: 45px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #f5f5f5 !important;
    font-family: Mulish;
    font-weight: 700;
    float: right;
    text-align: left;
}
.navbar-toggler-icon {
    color: #f5f5f5;
    font-size: 30px !important;
}
.navbar-toggler {
    outline: none !important;
}

/* Formatting Search Bar */
.book-search-box {
    max-width: 600px;
    margin: 20px auto;
}
.book-search-box select {
    width: 100%;
    padding: 15px 25px;
    font-size: 20px;
}
#get-recs-btn {
    margin-left: 10px;
    width: 10%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #CB33A0;
    color: #f5f5f5;
}