* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish" !important;
    background-color: #DDC1E18F !important;
}

/* Modal */
h5.modal-title {
    font-family: Mulish;
}
.modal-dialog {
    background-color: #DDC1E18F;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #DDC1E18F;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 80%;
}
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover
.close:focus {
    color: blakc;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer button {
    background-color: #7e49a7;
}

/* Navigation Bar */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-purple {
    background-color: #7e49a7;
    padding: 0 !important;
    height: 70px;
}
.navbar-brand img {
    height: 45px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #f5f5f5 !important;
    font-family: Mulish;
    font-weight: 700;
    float: right;
    text-align: left;
}
.navbar-toggler-icon {
    color: #f5f5f5;
    font-size: 30px !important;
}
.navbar-toggler {
    outline: none !important;
}

/* Formatting Search Bar */
.wrapper {
    width: 650px;
    margin: 10px auto 0;
}
.select-book-btn, .book-options li {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-book-btn {
    height: 65px;
    font-size: 22px;
    padding: 0 20px;
    border-radius: 10px;
    background: #f5f5f5;
    justify-content: space-between;
}
.select-book-btn iconify-icon {
    font-size: 28px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-book-btn iconify-icon {
    transform: rotate(-180deg);
}
.book-list {
    display: none;
    background: #f5f5f5;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}
.wrapper.active .book-list {
    display: block;
}
.book-list .search-books {
    position: relative;
}
.search-books .search-icon {
    margin-top: 15px;
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 53px;
    position: absolute;
}
.search-books input {
    height: 53px;
    width: 100%;
    font-size: 15px;
    padding: 0 15px 0 43px;
    outline: none;
    border: 1px solid #b3b3b3;
}
.book-list .book-options {
    margin-top: 10px;  
    max-height: 250px; 
    overflow-y: auto;
    padding-right: 7px;
}
.book-options::-webkit-scrollbar {
    width: 7px;
}
.book-options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}
.book-options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}
.book-options li {
    height: 50px;
    padding: 0 13px;
    font-size: 19px;
    border-radius: 5px;
}
.book-options li:hover {
    background: #DDC1E18F;
}
.book-options li:selected {
    background: #DDC1E18F;
}
#get-recs-btn {
    margin-top: 15px;
    margin-left: 10px;
    width: 20%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #CB33A0;
    color: #f5f5f5;
}